<% messagesModel.forEach(function(message) { %>
<li class="message-preview">    
    <a href="#"> <% // Message link %>
        <div class="media">
            <% /*
            <span class="pull-left">
                <img class="media-object" src="http://placehold.it/50x50" alt="">
            </span> */ %>
            <div class="media-body">
                <h5 class="media-heading"><strong><%- message.get("sender_display") %></strong>
                </h5>
                <p class="small text-muted"><i class="fa fa-clock-o"></i>&nbsp;<%- message.get("stamp_date_local") %> at <%- message.get("stamp_time_local") %></p>
                <p><%- message.get("message") %></p>
            </div>
        </div>
    </a>
</li>
<% }); %>
<li class="message-footer">
    <a href="#">Read All New Messages</a>
</li>